<div class="container">
  <app-prompt></app-prompt>
  <app-edit-modal></app-edit-modal>
  <div class="page-header">
    <h1 class="text-center text-success">Welcome to Zhanna's Library</h1>
  </div>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addEditModal" (click)="onAddBookClick()">Add a book</button>
  <br/>
  <br/>
  <ul class="list-group" *ngIf="library != undefined">
    <li *ngFor="let book of library; let i = index" class="list-group-item list-group-item-success">
      <app-book [book]="book" [index]="i"></app-book>
    </li>
  </ul>
</div>